doctype html 
html 
  meta charset="utf-8"
  head
      link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"
      link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous"
 
      title KYKLO data spell-checker test

  body
    .container
      h1 KYKLO data spell-checker
      .row
        .col-md-6.col-xs-12 style="border-right: 1px solid black;"
          h2 Input words below:
          textarea style="width: 100%; min-height: 200px;" id="text-input" type="text" placeholder="Type something" 

        .col-md-6.col-xs-12
          h2 Response:
          p some of the keywords you typed are not in the dictionary. Here are the keywords you could use instead
          code id="suggested-replacement-keywords"
          p Also, here how the entire sentence could look like, if we replace your wrong keywords with the closest keywords we can find
          code id="suggested-replacement-sentence"

script src="/assets/script.js"